{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    <label>Username:</label>
    <input type="text" name="username" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <label>Role:</label>
    <select name="role" required>
        <option value="" selected>---Select---</option>
        <option value="candidate">Candidate</option>
        <option value="employer">Employer</option>
    </select>

    <input type="submit" value="Register">
</form>
{% endblock %}
